.contenidoPrin{
    display: block;
    overflow: hidden;
    text-align: center;
    padding: 0;
}

.project-list{
    width: 80%;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.project-list li{
    margin: 50px 20px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    text-align: center;
    background-color: #061b30;
    color: #081018;
    border: 2px solid #9ca9b4;
    box-shadow: 0 0 5px #424242;
    border-radius: 10px;
}

.flex-git{
    color: #061b30;
    border-radius: 10px;
    background-color: #f7f7f7;
    padding: 20px;
    margin: auto;
    text-align: center;
}

.flex-git h4{
    font-size: 22px;
    font-weight: normal;
    margin: 15px;
}

.flex-git h5{
    font-size: 16px;
    font-weight: normal;
    margin: 10px;
}

.project-list li .flex-git img{
    width: 420px;
}

.project-list li img{
    width: 480px;
}

@media screen and (max-width: 1260px) {
    .project-list li{
        display: inline-block;
    }
}

@media screen and (max-width: 1480px) {
    .project-list{
        width: 100%;
    }
}